/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-decoration-color: #353430;

  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;

  --highlight-text-color: #353430;
  --highlight-color: #ff8dcb;

  --background-color: #fff1f7;
  --text-color: #353430;

  --section-header-color: #353430;

  --header-image: url(./../images/cover-image-light.png);
}
