/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --header-decoration-color: #353430;

  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;

  --highlight-text-color: #353430;
  --highlight-color: #ff8dcb;

  --background-color: #fff1f7;
  --text-color: #353430;

  --section-header-color: #353430;

  --basic-font: "IBM Plex mono", monospace, sans-serif;

  --header-image: url(./../images/cover-image-light.png);

  --global-padding: 20px;
  --header-margin-bottom: 60px;
  --footer-margin-top: 60px;
  --section-margin-bottom: 80px;

  --list-grid-gap: 20px;
}

@media (width < 768px) {
  :root {
    --global-padding: 10px;
    --header-margin-bottom: 40px;
    --footer-margin-top: 40px;
    --section-margin-bottom: 50px;
  }
}
